{% extends "base.html" %}


{% block title %}    <title>Log-in</title>   {% endblock %}


<body>
{% block content %}
    <style>
        .login{
            border: 1px solid brown;
            align-content: center;
            width : 35%;
            height : 200px;
            margin: 50px 35% 60%;
            background-color: antiquewhite;
        }

    </style>
    <div class = "login">
    <br>
    <h1 style="margin: 0px 10px 20px 10px; height: 40px; background-color: #e59b44">Login</h1>
    <Form action="#" method="POST" style="margin: 10px 10px 0px 50px;">
        {% csrf_token %}
        {% for fm in form %}
            {{ fm.label_tag }}
            {{ fm }}
            {{ fm.errors|striptags }}<br><br>
        {% endfor %}
        <a href="{% url 'my_view' %}"><input type="Submit" value="submit"></a><br>
    <a href="{% url 'password_reset' %}"> Forget Password </a>
    </form>
    <br>
    {% if messages %}
        {% for msg in messages %}
           <li {% if msg.tags %} class="{{ msg.tags }}" {% endif %}>{{ msg }}
           </li>
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}
</body>
</html>