{% extends "base.html" %}


{% block title %}    <title>Log-in</title>   {% endblock %}


<body>
{% block content %}
    <style>
        .login{
            border: 1px solid brown;
            align-content: center;
            width : 35%;
            height : 130px;
            margin: 50px 35% 60%;
            background-color: antiquewhite;
        }
    </style>
    <div class = "login">
    <br>
    <form action="#" method="POST" style="margin: 10px 10px 0px 50px;">
        {% csrf_token %}
        {% for fm in form %}
            {{ fm.label_tag }}
            {{ fm }}
            {{ fm.errors|striptags }}<br><br>
        {% endfor %}
            <input type="Submit" value="submit">
    </form>
    <br>
    {% if messages %}
        {% for msg in messages %}
           <li {% if msg.tags %} class="{{ msg.tags }}" {% endif %}>{{ msg }}
           </li>
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}
</body>
</html>