{% extends "base.html" %}
    {% block content %}
        <p> You forget your password?? Enter your email address, and we'll send you instructions. </p>
        <form method="POST">
            {% csrf_token %}
            {% for fm in form %}
                {{ fm.label_tag }}
                {{ fm }}
                {{ fm.errors|striptags }}<br><br>
            {% endfor %}

        <a href="{% url 'password_reset_done' %}"><button type="submit">Send Email</button></a>
{#        {{ passwor_reset_form.as_p }}#}
        </form>
    {% endblock %}