{% extends "hom.html" %}
<head>
    <meta charset="UTF-8">
    <title>Change_Password</title>
</head>

{% block content %}
    <br>
    <form method="post">
        {% csrf_token %}
        {% for fm in form %}
            {{ fm.label_tag }}
            {{ fm }}
            {{ fm.errors|striptags }}<br><br>
        {% endfor %}

        <button type="submit">Save changes</button>
    </form>
    {% if messages %}
        {% for msg in messages %}
           <li {% if msg.tags %} class="{{ msg.tags }}" {% endif %}>{{ msg }}
           </li>
        {% endfor %}
    {% endif %}
{% endblock %}
