{% extends "base.html" %}
{% block content %}
    <div>
    {% if validlink %}
    <h3>Password Reset Confirmation</h3>
    <form method="POST">
            {% csrf_token %}
            {% for fm in form %}
                {{ fm.label_tag }}
                {{ fm }}
                {{ fm.errors|striptags }}<br><br>
            {% endfor %}
        <button type="submit">Reset Password</button>
{#        {{ passwor_reset_form.as_p }}#}
        </form>
    {% else %}
        <p>The password reset link was invalid,
            possibly because it has already been used.
            Please request a new password reset.</p>
    {% endif %}
    </div>
{% endblock %}